<h1>Thanks and please complete the background check authorization form we just emailed you!</h2>
<p>
{{name}}, we've emailed you a <b>required background check authorization form</b> attachment.
</p>
<p>
To help us ensure child safety at CoderDojo Ponce Springs events, please complete the background check authorization form and follow the instructions within it to send it back to us.
</p>
<p>If you don't receive the email or cannot open the attachment, you can <b><a href="content/CoderDojoPonceSprings-BackgroundCheckAuthorization.pdf">download the background check authorization form here.</a></b>