doctype 5
html(lang='en')
  head
    title OpenEpi -- Epidemiologic Calculators
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(content='text/html;charset=utf-8', http-equiv='Content-Type')
    meta(content='utf-8', http-equiv='encoding')
    link(href='content/jquery.mobile-1.2.0.min.css', rel='stylesheet')
    link(href='content/toastr.css', rel='stylesheet')
    link(href='content/app.css', rel='stylesheet')
    script(src='scripts/require.js', type='text/javascript', data-main='scripts/main')    
  body
    div(data-role='page', id='splash')
      div(data-role='content', style='text-align:center;background:#ffffff;')
        div
          img(src='content/images/logo.png', style="width:209px;height:55px")
        div
          img(src='content/images/splash.png', style="width:216px;height:287px")

    div(data-role='page', id='home')
      div(data-role='content', data-theme='b', id='moduleSelector')

    div(data-role='page', id='module')
      include moduleHeader

      div(data-role='content')
        div.fields
        fieldset.ui-grid-a
          div.ui-block-a
            a(href='#', data-role='button', data-icon='arrow-r', class='calculate') Calculate
          div.ui-block-b
            a(href='#', data-role='button', data-icon='arrow-u', class='clear') Clear
            
      include moduleFooter

    div(data-role='page', id='results')
      include moduleHeader

      div(data-role='content')
        div#resultsMissing No results yet...
        #resultsPane
          span#processing 
            b (Processing...)
          span#resultData(style='font-weight:bold;font-style:italics')

      include moduleFooter