div(data-role='header', data-position='fixed', data-theme='a')
	h2 m.OpenEpi
	a(href="#moreModule", data-rel="popup", data-icon='arrow-r', class="ui-btn-right", data-transition="slide", data-position-to="window", data-theme='b') More

	div(data-role='navbar', data-iconpos='left', data-theme='d')
		ul		
			li
				a(href='#module', data-icon='grid') Enter
			li
				a(href='#results', data-icon='arrow-r') Results			
			li
				a(href='#history', data-icon='arrow-u') Module History

div(data-role='popup', id='moreModule', data-corners='false', data-theme'none', data-shadow='false', data-tolerance='0,0')
	a(data-theme="a", data-role='button', data-icon="grid", data-mini="true", href="#templates") Templates
	a(data-theme="a", data-role='button', data-icon="gear", data-mini="true") Settings