body 
{
  padding: 0;
  margin: 0;
}

#fieldsRequired .ui-btn-inner
{
  /*padding: .6em 20px;*/
}
.fieldLabel {
  font-weight: bold;
}

.cbLabel
{
  border-top-width: 0px;
  margin-top: 0px;
  border-bottom-width: 0px;
  margin-bottom: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.catList li[data-role='list-divider'] {
  padding: 0px;
}
.catList label[data-corners='false'] {
  border-top-width: 0px;
  margin-top: 0px;
  border-bottom-width: 0px;
  margin-bottom: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.catList li a {
  padding: 0px;
  text-decoration:none;
}

.moduleItem {
  padding: 5px;
}

.moduleItem a {
  text-decoration:none;
}

.recentModule {
  padding: 5px;
}

.recentModule a {
  text-decoration: none;
}

#more-popup {
    right: 0 !important;
    left: auto !important;
}

#more {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}

#more .ui-btn {
    margin: 2em 15px;
}

#moreModule-popup {
    right: 0 !important;
    left: auto !important;
}

#moreModule {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}

#moreModule .ui-btn {
    margin: 2em 15px;
}

.control-label {
  font-weight: bold;
  color: #333333;
}